<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goresto</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="navbar-container">
        <div class="logo">
          <h2>Goresto</h2>
        </div>
        
        <nav id="drawer" class="nav-list">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/GeorgeTampan/">About Us</a></li>
          </ul>
        </nav>
        <a id="menu" class="header__menu">☰</a>
    </header>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Go Restaurant</h1>
        <p class="hero__tagline">Go Restaurant ini merupakan sebuah website yang dapat membantu anda untuk mencari referensi restaurant</p>
      </div>
    </div>

  <main id="maincontent">
    <div class="data-list">
      <div class="container-resto">
        <div class="latest">
          <h1 class="latest__label">Daftar Restaurant</h1>
          <div class="posts">

              <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Bring Your Phone Cafe" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Medan</span>
                        <h4>
                          Bring Your Phone Cafe
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Bali</span>
                        <h4>
                          Run The Gun
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Pangsit Express" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Ternate</span>
                        <h4>
                          Pangsit Express
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Malang</span>
                        <h4>
                          Ducky Duck
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Kafein" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Bali</span>
                        <h4>
                          Kafein
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan mudah" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Malang</span>
                        <h4>
                          Makan mudah
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Surabaya</span>
                        <h4>
                          Saya Suka
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Aceh</span>
                        <h4>
                          Gigitan Cepat
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe" />
                    </div>
                    <div class="card-body">
                        <a class="tag tag-teal">Malang</a>
                        <h4>
                          Fairy Cafe
                        </h4>
                    </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>Copyright © 2023 - Goresto Apps</p>
  </footer>

</body>
</html>
